@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-display: 'Albert Sans', sans-serif;
}

:root{
  --color-primary:#0d2972;
  --color-warning: #FFD500;
  --color-warning-content:#0d2972;
  --color-base-300:#f0f4ff;
  --color-info:#F0F4FF;
  --color-neutral:#253858;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #0d2972;
    --color-warning: #FFE033;
    --color-warning-content: #121212;
    --color-base-300: #1a202c; 
    --color-info: #1e293b; 
    --color-neutral: #ffffff; 
  }
}

@layer base {
  html {
    font-size: 18px;
  }
  body{
    font-family: var(--font-display);
    @apply font-normal text-[18px] text-[#253858] dark:text-[#ffffff];
  }
  h1{
    @apply text-4xl sm:text-5xl md:text-[65px] leading-tight;
  }
  h2{
    @apply text-[28px] md:text-[40px] leading-tight;
  }
  h3{
    @apply text-[24px] md:text-[34px] leading-snug;
  }
  h4{
    @apply text-[22px] md:text-[28px] leading-snug;
  }
  h5{
    @apply text-[16px] md:text-[20px] font-medium;
  }
  p{
    @apply text-[#505F79] dark:text-[#ffffff] text-[18px] font-normal leading-6;
  }

  ul{
    @apply text-[#505F79] dark:text-[#ffffff] text-[18px]
  }
}

@layer utilities {
  .app-container {
    @apply mx-auto w-full max-w-310 px-4;
  }
  .btn{
    @apply py-1.5 font-medium rounded-full shadow-none;
  }
  .btn-lg{
    @apply h-auto py-2.5 font-medium rounded-full shadow-none text-[20px];
  }
  .hero img{
    @apply min-h-75 max-h-105.5;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
